.game-container{
   text-align: center;
}

.button-container{
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns:150px 150px ;
    justify-content: center;
    margin-top: 30px;
   
}
.game-button{
    background-color: transparent;
    border: transparent;
   background-repeat: no-repeat;
}

.start-button{
    margin-top: 25px;
}

.hidden{
    display: none;
}

.disabled {
  pointer-events: none;
}

.chainz{
    background-image: url(http://www.therapboard.com/images/artists/2chainz.png);
}

.dmx{
   background-image: url(http://www.therapboard.com/images/artists/dmx.png);
}

.chance{
    background-image: url(http://www.therapboard.com/images/artists/chance.png);
}

.gucci{
    background-image: url(http://www.therapboard.com/images/artists/gucci.png);
}

.drake{
    background-image: url(http://www.therapboard.com/images/artists/drake.png);
}

.jon{
    background-image: url(http://www.therapboard.com/images/artists/liljon.png);
}

.nicki{
    background-image: url(http://www.therapboard.com/images/artists/nicki.png);
}

.biggie{
    background-image: url(http://www.therapboard.com/images/artists/biggie.png);
}

.ross{
    background-image: url(http://www.therapboard.com/images/artists/ross.png);
}

.soulja{
    background-image: url(http://www.therapboard.com/images/artists/soulja.png);
}

