html{
   
background-image: src="docs/images/bricks_wallpaper.jpg";


}

.title-text{
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 65px;
}

.text{
    color: white;
    font-family: 'Bangers', cursive;
    font-size: 35px;
}

.textBox{
background-color: black;
opacity: 95%;
width: fit-content;
margin: auto;
border-radius: 50px;
}

.option-button{
   font-size: 20px;
   background-color: yellow;
   border-radius:50px;
   font-family: 'Bangers', cursive;

}

.game-button{
    background-color: transparent;
    border: transparent;
   background-repeat: no-repeat;
}

.start-button{
    margin-top: 25px;
    font-size: 55px;
   background-color: yellow;
   border-radius:50px;
   font-family: 'Bangers', cursive;

}

.game-container{
   text-align: center;
}

.button-container{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows:150px 150px ;
    justify-content: center;
    margin-top: 30px;
   
}

.hidden{
    display: none;
}

.disabled {
  pointer-events: none;
}
/* 
.active{

} */


